<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="/listings">
            <i class="fa-brands fa-airbnb logo"></i><span class="text">HomiFy</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- <a class="nav-link new" href="/listings"><b>Home</b></a> -->
            </div>
            <div class="navbar-nav ms-auto">
                <form class="d-flex" role="search">
                    <input class="form-control me-2 search-inp search" type="search" placeholder="Search destination" aria-label="Search">
                    <button class="btn add-btn btn-search search" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i> Search
                    </button>
                </form>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link new mt-2" href="/listings/new"><b>HomiFy your home</b></a>
                <button id="toggle-theme" class="nav-link new"><b>Dark Mode</b></button>
                <% if (typeof currUser === 'undefined' || !currUser) { %>
                    <a class="nav-link new mt-2" href="/signup"><b>Sign Up</b></a>
                    <a class="nav-link new mt-2" href="/login"><b>Log In</b></a>
                <% } else { %>
                    <div class="dropdown">
                        <button class="btn btn-link nav-link new dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user"></i> <%= currUser.username %>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="/logout"><b>Log Out</b></a></li>
                        </ul>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</nav>
<script>
    const toggleButton = document.getElementById("toggle-theme");

    toggleButton.addEventListener("click", () => {
        document.body.classList.toggle("dark-mode");
        localStorage.setItem("theme", document.body.classList.contains("dark-mode") ? "dark" : "light");
    });

    // Load saved theme on page load
    if (localStorage.getItem("theme") === "dark") {
        document.body.classList.add("dark-mode");
    }
</script>